---
 import Section from '@/components/Section.astro';
 import {projects} from '@cv'
---
<Section title="Proyectos">
    {
        projects.map(({name, description, highlights, isActive, url}) =>(
            <li>
                <article>
                    <header>
                        <a href={url} title={`Ver el proyecto ${name}`}><h3>{name}</h3>
                        </a>
                        <p>{description}</p>
                    </header>
                    <footer>
                    </footer>
                </article>
            </li>
        ))
    }
</Section>
